body{
    margin:0;
    background-color: rgb(0, 132, 255);
}

.button_header{
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

header{
    background-color:black;
    text-align: center;
    margin-bottom: 0;
    color: azure;
    margin-bottom: 2em;
}
#title{
    margin:0;
}
main{
margin: auto;
width: 60%;
border: 5px solid;
padding: 10px;
border-radius: 20px;
width: 25%;
background-color: green;
}

.grid{
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: black;
    border-radius: 10px;
    margin-top: 50px;
}

.grid-item{
background-color: azure;
grid-template-columns: auto auto auto;
padding: 10px;
margin:3px;
border-radius: 5px;
}

#nice{
    position: relative;
    width: 100%;
    border-radius: 10px;    
}

#Result{
    margin: 5% 0% 10% 0%;
    background-color:white;
    width: 50%;
    left:25%;
    position: relative;
    border-radius: 25px;
}

Footer{
    background-color: white;
width: 50%;
display: inline-block;
margin:5% 25%;
border-radius: 25px;
text-align: center;
}